<div class="row">
  <div class="small-11 small-centered columns">11 centered
    <div class="slideshow-wrapper">
      <div class="preloader"></div>
      <ul data-orbit>
        <li>
          <img src="../assets/slide1.jpg" />
          <div class="orbit-caption">...</div>
        </li>
        <li>
          <img src="../assets/slide1.jpg" />
          <div class="orbit-caption">...</div>
        </li>
        <li>
          <img src="../assets/slide1.jpg" />
          <div class="orbit-caption">...</div>
        </li>
      </ul>
    </div>
    
    </div>  <!-- end of Small -11 div -->
  
</div> <!-- end of row div -->

<div class="row">
   <div class="small-11 small-centered columns">
     
     

<%= link_to "Task", task_url %> |
<%= link_to "Demo", demo_url %>

</div>
</div>